@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
.main{

margin-top: 50px;
width: 300px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
@include box_sizing;
}

input {
  height: auto !important;
}

.signup {

  padding: 60px;

}

.wrap{

  word-wrap: break-word;
}

.post {

  padding: 90px;

}
.user{

  padding: 90px
}
.login {

  padding: 80px;

}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.panel-heading h3{
  font-size: 40px;

color: #6699ff;

}
.col-md-6{

  width: 700px;

}

.index{
  margin-top: 10%;

}

.textarea{

  height: 40%;

}

.principal{

  border-width: 0px;
  background-color: white !important;

}

.panel-default > .panel-heading {




}

.panel-heading > h4 {

color: #999999;
  font-size: 15px;


}
